---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <style>
      #news-panel {
        width: 500px; /* Width can be adjusted based on your layout needs */
        height: 600px; /* Set a fixed height appropriate for your layout */
        overflow-y: auto; /* Enables vertical scrolling */
        padding: 20px;
        /* border: 1px solid #ccc; Optional, just for better visibility */
      }
    </style>
  </head>
  <body>
    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div style="display: flex;">
      <div style="flex: 1;">
        <!-- Main content goes here -->
        {{ content }}
      </div>
      <div id="news-panel">
        <h3><font size="+3">News</font></h3>
        <ul>
          <!-- News items will be listed here -->
          <li><b>May'24</b> TANGLE to appear at <b>CVPR</b> will be an <b>Oral</b> (top 0.7% of submissions.) </li>
          <li><b>May'24</b> Announcing MMP to appear at <b>ICML</b>, a multimodal model for survival outcome prediction. Work led by Andrew Song and Richard Chen. </li>
          <li><b>April'24</b> New <b>Nature Medicine</b> study on fairness in computational pathology. Work led by Anurag Vaidya, Richard Chen and Drew F.K. Williamson. </li>
          <li><b>March'24</b> Announcing UNI published in <b>Nature Medicine</b>, a generic-purpose foundation model for histology. Work led by Richard Chen.</li>
          <li><b>March'24</b> Announcing CONCH published in <b>Nature Medicine</b>, a visual-language model for histology. Work led by Ming Y. Lu.</li>
          <li><b>Feb'24</b> Announcing TANGLE to appear at <b>CVPR</b>, a multimodal pretraining strategy for slide representation learning. Co-authored with Lukas Oldenburg.</li>
          <li><b>Feb'24</b> Announcing SurvPath to appear at <b>CVPR</b>, multimodal model for survival outcome prediction. Co-authored with Anurag Vaidya.</li>
          <li><b>Feb'24</b> Announcing PANTHER to appear at <b>CVPR</b>, a model for survival prediction. Work led by Andrew H. Song and Richard Chen.</li>
          <li><b>June’23</b> New <b>Nature Reviews Bioengineering</b> article on AI for digital and computational Pathology. Co-led with Andrew H. Song.</li>
        </ul>
      </div>
    </div>

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
  </body>
</html>
